<li class="nav-dropdown-container learn">
  <a class="nav-link<%- page.path.match(/\/(guide(?!\/team.html$)|api|cases|examples|vendors)(\/|$)/) ? ' current' : '' %>">如何学习</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
        <li><a href="<%- url_for("/v2/china/") %>" class="nav-link<%- page.path.match(/\/china(\/|$)/) ? ' current' : '' %>">为什么学中文</a></li>
        <li><a href="<%- url_for("/v2/dialects/") %>" class="nav-link<%- page.path.match(/\/examples(\/|$)/) ? ' current' : '' %>">中文方言</a></li>
      <li><a href="<%- url_for("/v2/guide/") %>" class="nav-link<%- page.path.match(/\/guide(\/|$)/) ? ' current' : '' %>">make your first chinese friend online</a></li>
      <li><a href="<%- url_for("/v2/search/") %>" class="nav-link<%- page.path.match(/\/search(\/|$)/) ? ' current' : '' %>">站内搜索</a></li>
      <!-- <li><a href="<%- url_for("/v2/vendors/") %>" class="nav-link<%- page.path.match(/\/vendors(\/|$)/) ? ' current' : '' %>">其他</a></li> -->
    </ul></li>
  </ul>
</li>
